@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik&display=swap');

:root {
    --background-color: #282828;
    --body-before: #0005;
    --light-dark: #393939;
    --light-gray: #5f5f5f;
    --font-color: #efefef;
    --hover-color: #9f9f9f;
    --gray: #5a5a5a;
    --black: #000000;
    --subtle-dark: #3f3f3f;
    --soft-white: #5f5f5f;
    --tsk-color: #2f2f2f;
    --light-blue: #116A7B;
    --shadow: 2px 2px 3px var(--subtle-dark);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);

    display: grid;
    grid-template-rows: auto 1fr;
}

body.show-before::before {
    content: '';
    background-color: var(--body-before);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

i {
    cursor: pointer;
    font-size: 2.5rem;
    display: flex;
}

/* HEADER CONTENT SECTION START */

.header-content {
    border-bottom: 1px solid var(--light-gray);
    box-shadow: 2px 2px 5px var(--soft-white);
    height: 50px;
    padding: 1em 3em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    z-index: 1;
}

.search-bar {
    background-color: var(--light-gray);
    width: min(500px, 100%);

    display: flex;
    border-radius: 10em;

    overflow: hidden;
}

.search-bar i {
    font-size: 2rem;
    cursor: default;
    padding: 10px;
    padding-right: 0;
}

.search-bar input {
    color: var(--font-color);
    width: 100%;
    background: transparent;
    font-family: 'Nunito', sans-serif;
    border: none;
    outline: none;
    padding: 10px;
}

.search-bar input::-webkit-input-placeholder {
    color: var(--hover-color);
}

.search-bar input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.sth-pfl {
    display: flex;
    align-items: center;
    gap: 2em;
}

.header-content img {
    width: 30px;
    cursor: pointer;
}

/* HEADER CONTENT SECTION END */

/* MAIN CONTENT SECTION START */

.main-content {
    display: flex;
}

.aside-content {
    background-color: var(--light-dark);
    width: min(300px, 90%);
    padding: 2em;
    user-select: none;

    transition: all .3s ease;
}

.show-aside {
    transform: translateX(-600px);
    width: 0;
    padding: 0;
}

.next-task {
    display: grid;
    gap: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

.next-task div {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 10px;
    border-radius: 5px;
}

.next-task div i {
    font-size: 2rem;
}

.next-task div p {
    font-size: 1.2rem;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
}

.project-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 5px 10px;
    border-radius: 5px;
}

.project-options div {
    display: flex;
    gap: 10px;
}

.projects {
    list-style-type: none;
    display: grid;
    gap: 5px;
}

.projects li {
    padding: 5px 10px;
    font-size: 1.3rem;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.projects li i {
    font-size: 1.6rem;
    padding: 5px;
    border-radius: 50%;
}

.projects li i:hover {
    color: var(--hover-color);
}

.next-task div,
.projects-wrapper div,
.projects li,
.projects li i {
    transition: all .2s linear;
    cursor: pointer;
}

.hover,
.next-task div:hover,
.project-options:hover,
.projects li:hover {
    background-color: var(--light-gray);
}

#task-board {
    transition: all .3s ease;
    flex: 1;
}

.mn-dts {
    position: relative;
}

.tsk-opts:focus .tsk-options {
    display: block;
}

.tsk-options {
    background-color: var(--light-dark);
    font-style: normal;
    font-family: 'Nunito', sans-serif;
    font-size: 1.4rem;
    padding: 5px;
    border-radius: 5px;

    position: absolute;
    top: 50%;
    left: 4em;
    transform: translateY(-50%);

    display: none;
}

.tsk-options p {
    padding: 5px 10px;
    border-radius: 5px;
}

.tsk-options p:hover {
    background-color: var(--light-gray);
}

.tsk-options p:nth-child(3) {
    color: #f00;
}

.show-task-options {
    display: block;
}

/* MAIN CONTENT SECTION END */
