:root {
    --body-before: #0005;
    --light-color: #F5F5F5;
    --light-gray: #dfdfdf;
    --font-color: #282828;
    --secondary-font-color: #efefef;
    --hover-color: #9f9f9f;
    --gray: #5a5a5a;
    --black: #000000;
    --subtle-dark: #0001;
    --soft-white: #f5f5f5;
    --tsk-color: #f9f9f9;
    --light-blue: #116A7B;
    --shadow: 2px 2px 3px var(--subtle-dark);
}

.upcoming-content-wrapper {
    height: calc(100vh - 50px);
    padding-top: 1em;
    display: grid;
    overflow: auto;
}

.upcoming-content-wrapper h1 {
    width: 90%;
    font-weight: normal;
    font-size: 1.8rem;
    margin: 0 auto;
    padding: 5px 10px;

    border-bottom: 1px dashed var(--hover-color);
}

.ty-tsk,
.tm-tsk,
.tk-tsk,
.nk-tsk,
.th-tsk,
.nh-tsk {
    width: 80%;
    margin: auto;
}

.ty-tsk ul,
.tm-tsk ul,
.tk-tsk ul,
.nk-tsk ul,
.th-tsk ul,
.nh-tsk ul {
    list-style: none;
    padding: 10px;
    margin-bottom: 2em;

    display: grid;
    row-gap: 10px;
}

.ty-tsk ul li,
.tm-tsk ul li,
.tk-tsk ul li,
.nk-tsk ul li,
.th-tsk ul li,
.nh-tsk ul li {
    border: 1px solid var(--subtle-dark);
    box-shadow: var(--shadow);
    font-size: 1.3rem;
    width: min(700px, 100%);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}